+++
title = "Crossref Features"

+++

{{< blocks/cover title="Crossref Feature Specification Library" height="full" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Browse <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div> 

{{< /blocks/cover >}}






